header {
    padding: 1em 0;
    background-color:#191a2b;
}

.navbar {
    width: 90%;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo h1 {
    font-size: 1.5rem;
    margin-left: 0.75em;
}

.navbar-logo img {
    height: 5em;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 1.5rem;
}

nav a{
    padding: .25em 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

@media (max-width: 600px){
    .container-nav {
        flex-direction: column;
    }

    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em 0;
    }

    .navbar-logo h1 {
        font-size: 1rem;
        margin-left: 0.5em;
    }
}