# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor-specific files
.vscode/
.idea/
.DS_Store

# Ignore database files (if applicable)
*.sqlite
*.db
