/* src/styles/about.css */
.about {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-grey);
}

.container-about {
    margin-left: 8%;
}

.container-about a {
    background-color: var(--main-bg-red);
    display: block;
    width: fit-content;
    border: none;
    border-radius: 0.5em;
    margin-top: 1.25em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}

.container-about a:hover {
    background-color: var(--btn-hover-red);
}

.about-text h1 {
    color: var(--header-navy-color);
    font-size: 4rem;
    line-height: 1;
    text-transform: capitalize;
}

.about-text p {
    color: var(--header-navy-color);
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 0.75em;
}

.about img {
    height: 68%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

@media (max-width: 600px) {
    .about {
        height: auto;
        flex-direction: column;
    }

    .container-about {
        margin: 0 auto;
        padding: 5% 8%;
    }
    
    .container-about h1 {
        margin-top: 0.5em;
        text-align: center;
        font-size: 2.5rem;
    }

    .container-about p {
        font-size: 1rem;
    }

    .about img {
        box-shadow: none;
        margin: 0 auto;
        padding: 5% 5%;
    }
}
