header {
    padding: 1em 0;
    background-color: #191a2b;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    width: 90%;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo h1 {
    font-size: 1.5rem;
    margin-left: 0.75em;
}

.navbar-logo img {
    height: 5em;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 1.5rem;
}

nav a {
    padding: .25em 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 1024px) {
    .navbar-logo h1{
        font-size: 1.25rem;
    }

    .navbar-logo img {
        height: 4.5em;
    }
    nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #191a2b; 
        max-height: 0; 
        overflow: hidden; 
        transition: max-height 0.4s ease-in-out; 
    }

    nav ul.active {
        max-height: 500px;
    }

    nav li {
        margin: 1rem 0;
    }

    .hamburger {
        display: flex;
    }
}

@media (max-width: 425px) {
    .navbar-logo h1 {
        font-size: 1rem;
        margin-left: 0.5em;
    }
    
    .navbar-logo img {
        height: 3em;
        padding: 0;
    }
}