:root {
    --header-navy-color:#010137;
    --main-bg-grey:#cccccc;
    --main-bg-navy:#191a2b;
    --main-bg-red:#C40404;
    --btn-hover-red:#A30303;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-hero {
    padding: 5% 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-intro h1 {
    font-size: 3rem;
    line-height: 4.25rem;
    font-weight: 800;
}

.hero-intro p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5em;
}

.hero-intro a {
    background-color: var(--main-bg-red);
    display: block;
    width: fit-content;
    border: none;
    border-radius: 0.5em;
    margin-top: 1.25em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}

.hero-intro a:hover {
    background-color: var(--btn-hover-red);
}

.hero-intro-side p {
    border-left: 4px solid var(--main-bg-red);
    padding-left: 1.5em;
    margin: 2.25em 0;
    font-size: 1rem;
}

@media (max-width: 1024px) {
    .hero {
        height: auto;
    }

    .hero-intro h1 {
        font-size: 1.5em;
        line-height: 1.75em;
    }

    .hero-intro p {
        font-size: 0.75rem;
    }

    .hero-intro-side {
        margin-left: 3em;
    }

    .hero-intro-side p {
        font-size: 0.75rem;
    }

    .hero-intro a {
        font-size: 0.75rem;
    }
}

@media (max-width: 768px) {
    .hero {
        height: auto;
    }

    .hero-intro{
        text-align: center;
        align-items: center;
    }

    .hero-intro h1 {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .hero-intro-side {
        display:none;
    }
}

/* about section */
.about {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-grey);
}

.container-about {
    padding: 5% 8%;
    width: 100%;
    display: flex;
    align-items: center;
}

.container-about a {
    background-color: var(--main-bg-red);
    display: block;
    width: fit-content;
    border: none;
    border-radius: 0.5em;
    margin-top: 1.25em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}

.container-about a:hover {
    background-color: var(--btn-hover-red);
}

.about-text h1 {
    color: var(--header-navy-color);
    font-size: 4rem;
    line-height: 1;
    text-transform: capitalize;
}

.about-text p {
    color: var(--header-navy-color);
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 0.75em;
}

.about img {
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid magenta;
    margin-left: 8%;
}

@media (max-width: 1024px) {
    .about {
        height: auto;
    }

    .about-text h1 {
        font-size: 2.5rem;
    }

    .about-text p {
        font-size: 0.75rem;
        line-height: 1rem;
    }

    .container-about a {
        font-size: 0.75rem;
    }

    .about img {
        height: 250px;
    }
} 

@media (max-width: 768px) {
    .container-about {
        margin: 0 auto;
        padding: 5% 8%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-text h1 {
        font-size: 2.5rem;
    }

    .about-text p {
        font-size: 1rem;
        line-height: 1.25;
    }

    .about-text a {
        display: inline-block;
    }

    .container-about img {
        width: 60%;
        height: auto;
        margin-top: 5%; 
        margin-left: 0;       
    }
}

@media (max-width: 425px) {
    .container-about img {
        width: 80%;
        height: auto;
        margin-top: 5%;        
    }
}

/* service section */
.service {
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-navy);
}

.service-wrapper {
    padding: 5% 8%;
}

.service-wrapper h1 {
    padding-top: 0.75em;
    color: #fff;
    font-size: 4rem;
    text-transform: capitalize;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 2em;
    margin-top: 5em;
}

.card {
    height: fit-content;
    width: 100%;
    padding: 3% 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: transform 0.5s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card i {
    color: rgb(196, 4, 4);
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}

.card h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.card p {
    text-align: left;
    width: 100%;
    margin: 12px 0;
    color: #fff;
}

@media (max-width: 1024px) {
    .service {
        height: auto;
    }

    .service-wrapper h1 {
        font-size: 2.5rem;
    }

    .cards {
        gap: 2em;
        margin-top: 3em;
    }

    .card {
        height: auto;
        padding: 2% 5%; 
        border-radius: 8px;
    }

    .card i {
        font-size: 3.5rem;
    }

    .card h2 {
        font-size: 1rem; 
        line-height: 1.25;
    }

    .card p {
        font-size: 0.75rem; 
        line-height: 1.2;
    }
}

@media (max-width: 768px) {
    .service-wrapper {
        text-align: center;
    }
    
    .service-wrapper h1 {
        margin-top: 0.5em;
        font-size: 2.5rem;
    }

    .cards {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 30px;
    }

    .card h2 {
        font-size: 1.1rem;
        line-height: 1;
    }
}

/* signing section */
.signings {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-grey);
}

.signings-wrapper {
    padding: 5% 8%;
}

.signings-wrapper h1 {
    color: var(--header-navy-color);
    font-size: 4rem;
    text-transform: capitalize;
}

.signing-cards {
    width: fit-content;
    display: flex;
    gap: 6em;
    margin-top: 4em;
}

.signing-card img {
    display: block;
    width: 450px;
    height: auto;
}

.signings-wrapper a {
    background-color: var(--main-bg-red);
    display: block;
    width: fit-content;
    border: none;
    border-radius: 0.5em;
    margin-top: 3em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}

.signings-wrapper a:hover {
    background-color: var(--btn-hover-red);
}

 @media (max-width: 1024px) {
    .signings {
        height: auto;
    }

    .signing-cards {
        gap: 4em;
        margin-top: 2.5em;
    }

    .signings-wrapper h1 {
        font-size: 2.5rem;
    }

    .signings-wrapper a {
        font-size: 0.75rem;
    }
 }

@media (max-width: 768px){
    .signings {
        height: auto;
    }

    .signings-wrapper {
        text-align: center;
        margin: 0 auto;
    }

    .signings-wrapper h1 {
        margin-top: 0.5em;
        font-size: 2.5rem;
    }

    .signing-cards {
        flex-direction: column;
        gap: 2em;
        margin-top: 2em;
    }

    .signings-wrapper a {
        display: inline-block;
        margin-top: 16px;
    }
}

/* contact section */
.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #fff;
}

.container-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 5% 8%;
}

.container-contact h1 {
    color: var(--header-navy-color);
    font-size: 4rem;
    text-transform: capitalize;
}

.contact-temp {
    display: flex;
    justify-content: space-between;
}

.contact-form {
    width: 500px;
    border-radius: 5px;
}

input[type=text], input[type=email], textarea {
    width: 100%; 
    padding: 12px;
    border: none;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: transparent; 
    transition: border-bottom-color 0.3s ease;
}

input[type=text]:focus, 
input[type=email]:focus, 
textarea:focus {
    outline: none;
    border-bottom-color: var(--main-bg-red); 
}

textarea {
    height: 200px;
}

input[type=submit] {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--main-bg-red);
    color: white;
}

input[type=submit]:hover {
    background-color: var(--btn-hover-red);
}

.contact-info {
    height: 250px;
    margin-left: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info h1 {
    color: var(--header-navy-color);
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: capitalize;
    align-self: flex-start;
}

.contact-icons {
    display: flex;
    align-items: center;
}

.contact-info i {
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.contact-info span {
    margin: 0 0.5em;
    font-size: 1.25rem;
    display: block;
}

.social {
    display: flex;
}

.social a {
    color: black;
}

.social span {
    margin: 0 0.5em;
}

.social-logo i {
    font-size: 1.5rem;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.social-logo {
    display: flex;
    align-items: center;
}

.social span:hover {
    cursor: pointer;
    color: #fa1e34;
}

@media (max-width: 1024px) {
    .contact {
        height: auto;
    }

    .container-contact h1 {
        font-size: 2.5rem;
    }

    .contact-temp {
        margin-top: 2em;
    }

    textarea {
        height: 175px;
    }
    
    .contact-form {
        width: 375px;
        margin-top: 2em;
    }

    .contact-info h1 {
        font-size: 1.75rem;
    }

    .contact-info i { 
        font-size: 1.25rem;
    }

    .contact-info span {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .container-contact h1 {
        margin-top: 0.5em;
        text-align: center;
        font-size: 2.5rem;
    }

    .contact-temp {
        flex-direction: column; 
        align-items: center;
    }

    .contact-form {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-form {
        margin-top: 30px;
        max-width: 500px;
    }
    
    .contact-info {
        margin: 0 auto;
    }

    .contact-info h1 {
        font-size: 1.5rem;
    }
    
    .contact-info span {
        font-size: 1rem;
    }

    .social {
        flex-direction: column;
    }
}

/* footer section */
footer {
    padding: 1em 0;
    background-color: var(--main-bg-navy);
}

.container-footer {
    padding: 1em 2em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-logo {
    align-self: center;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15em;
}

.footer-logo h1 {
    margin-left: 0.75em;
}

.footer-logo img {
    height: 6em;
    padding: 0;
}

.footer-heading {
    margin: 0 2em;
    display: flex;
    flex-direction: column;
}

.footer-heading h2 {
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 550;
    margin-bottom: 0.75rem;
}

.footer-heading a {
    color:#fff;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: red;
    transition: 0.3s ease-out;
}

@media (max-width: 1024px) {
    .footer {
        height: auto;
        width: 100%; 
        padding: 1em 5%;
    }

    .container-footer {
        padding: 1em 1em; 
    }

    .footer-logo {
        margin: 1em 0;
    }

    .footer-logo h1 {
        font-size: 1rem;
        margin-left: 0.5em;
    }

    .footer-heading h2 {
        font-size: 1rem; 
        margin-bottom: 0.5rem;
    }

    .footer-heading a {
        margin-bottom: 0.4rem;
    }
}

@media (max-width: 768px) {
    .container-footer {
        flex-direction: column;
    }

    .footer-logo {
        margin: 1em auto;
    }

    .footer-logo h1 {
        font-size: 1rem;
    }

    .container-footer {
        align-items: center;
    }

    .footer-heading {
        align-items: center;
        margin: 0.75em 0;
    }
}

.copyright-container {
    background-color: var(--main-bg-navy);
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 2.5em;
}

.copyright-container a {
    font-weight: 400;
    color: #fff;
}